[submodule "scripts/backupScript"]
	path = scripts/backupScript
	url = git@github.com:bzgec/backupScript.git
[submodule "wallpapers-collection"]
	path = wallpapers-collection
	url = git@github.com:bzgec/wallpapers-collection.git
[submodule "dotfiles/.config/awesome/lain"]
	path = dotfiles/.config/awesome/lain
	url = git@github.com:bzgec/lain.git
[submodule "dotfiles/.config/nvim"]
	path = dotfiles/.config/nvim
	url = git@github.com:bzgec/nvim.git
[submodule "dotfiles/.config/alacritty/alacritty-theme"]
	path = dotfiles/.config/alacritty/alacritty-theme
	url = git@github.com:eendroroy/alacritty-theme.git
