[submodule "scripts/backupScript"]
	path = scripts/backupScript
	url = https://github.com/bzgec/backupScript.git
[submodule "scripts/nvim"]
	path = scripts/nvim
	url = https://github.com/bzgec/nvim.git
[submodule "wallpapers-collection"]
	path = wallpapers-collection
	url = https://github.com/bzgec/wallpapers-collection.git
